[Unit]
Description=max17205 battery monitor service

[Service]
Type=simple
ExecStart=/usr/bin/battery_monitor
User=ubuntu

[Install]
WantedBy=sysinit.target
